* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner img{
    width: 100%;
    height: auto;
    z-index:2;
}

#fire-flames {
    border: 3px solid red;
    z-index: 10;
    position: absolute;
    height: auto;
    width: 59%;
    top: 6%;
    left: 23%;
    transform: rotate(-7deg);
  }
  
  .content {
    margin: 20px;
    padding: 50px;
    text-align: justify;
  }